@media screen and (max-width:500px){
    .body_container{
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    } 
    .main_head{
        text-align: center;
        margin-bottom: 1em;
    } 
    .pull-right{
        float: none !important;
    }
    .main_head .pull-right{
        padding: 0 0 1em 0
    }
    .header_bar{
        display: none;
    }
    .main_left{
        position: absolute;
        height: 100vh;  
        width: 100vw;
        border-radius: 0;
    } 
    .main_right, .personal-form , .main_right_content{
        width: 100vw; 
        min-height: 100vh;
    }
    .personal-form{
        height: 100vh !important
    }
    #myiframe{
        height: 100vh;
    } 
    .oshowleft{
        width: 100vw !important;
    }
    .noshoeleft{
        width: 100vw;
        height: 100vh;  
        margin-left: -100vw;
        animation: none;
    } 

    /* list */
    .main_nav{
        font-size: 1.2rem;
        padding: .5rem 1rem ;
    }
    .child_nav{
        font-size: 1.1rem; 
    }
    .child_nav>ul li{
        margin: .5em;
        letter-spacing: .4em;
    }
    .table{
        box-sizing: border-box;
        width: 100vw !important;
    }
    .table>thead>tr>th{
        vertical-align: middle;
    }
    .main_head .padding_left_15{
        width: 100%;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        padding: 0 !important;
        word-break: break-all;
        vertical-align: middle;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding: 0;
    }
    .main_body{
        padding: 0;
    }
    .main_head{
        width: 100%;
        padding: 0;
    }
    .pull-right{
        vertical-align: baseline
    }
    .personal-form{
        box-sizing: border-box;
        padding:1rem;
    }
    .form-group{
        margin: .5em;
    }
    .nopadding{
        padding: 0
    }
    .table tr th, .fenleima td{
        text-align: center;
        vertical-align: middle;
    } 
}
