
*{
	margin:0;
	padding: 0;
	list-style: none;
	color: #595959;
	text-decoration: none;
	transition: .25s all;
	-o-transition: .25s all;
	-ms-transition: .25s all;
	-moz-transition: .25s all;
	-webkit-transition: .25s all;
}
html{
	font-size: 12pt;
}
body{
	background:#f7f7f7;
}
a:hover{
	color:rgb(50,182,122);;
}
.bgred{
	background:red;
}
.container{
	box-sizing: border-box;
	padding: 0 10rem;
}
.outer{
	box-sizing: border-box;
	display: flex;

}
i{
	color: rgb(50,182,122);

}
.font-size-08rem{
	font-size: .8rem;
}
.greenBg{
	background: rgb(50,182,122);
}
.greenColor{
	color: rgb(50,182,122);
}
.green{
	color: rgb(50,182,122);
}
.greenColor:hover{
	color: rgb(299,75,75);
}

.secondColor{
	color: rgb(157,168,161);
}
.warning{
	color: rgb(299,75,75);
}
.warningBg{
	background: rgb(299,75,75);
}

.index-top-text{
	font-weight: lighter;
	font-size: 1.8rem;
	color: #fff;
	margin-left: .5rem;
}

div.index-top-div{
	box-sizing: border-box;
	width: 100%;
	padding: 1rem 3rem;
}

.button-border-grean{
	display: inline-block;
	font-size: 1rem;
	color:  rgb(50,182,122);
	border: 1px solid  rgb(50,182,122);
	padding: .5rem 1.5rem;
	margin-right: 1rem;
}
.button-border-grean:hover{
	background: rgb(50,182,122);
	color: #fff;
}

.button-background-grean{
	display: inline-block;
	font-size: 1rem;
	color: #fff;
	background:  rgb(50,182,122);
	padding: .5rem 1.5rem;
	margin-right: 1rem;
}
.button-background-grean:hover{
	background: rgb(50,182,122);
	color: #fff;
}
.login-div{
	width: 100%;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.li-inline{
	display: inline-block;
	padding: .5rem;
	font-size: .7rem;
}

.left-icon{
	display: inline-block;
	width: .3rem;
	height: 1.5rem;
	margin-right: .5rem;
	float: left;
}
.panel-18rem{
	display: inline-block;
	width: 18rem;
}
.panel-55rem{
	width: 55rem;
	height: 500px;

}
.panel-ul {
	margin-top: 1rem;
}
.panel-ul li a{
	display: block;
	width: 100%;
	height: 1.3rem;
	margin:.5rem 0;
	overflow: hidden;
	font-size: .9rem;
}
.panel-notice{
	width: 17rem;
}

.panel-recommend{
	margin-top: 5rem;
}

.border-right-opacity{
	border-right: 1px solid rgba(50,182,122,.2);
}
.ul-table{
}

.ul-table-head{
	margin: 2rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(50,182,122,.8);
}
.table-all{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: .9rem;
	color: rgb(157,168,161);
}
.table-30rem{
	width: 30rem;
}
.table-24rem{
	width: 24rem;

}
.table-8rem{
	width: 8rem;
}
.table-12rem{
	width: 12rem;
}
.table-12rem,.table-8rem,.table-24rem,.table-30rem{
	overflow: hidden;
}
.table-name{
	text-align: left;
	padding-left: 1.5rem;
	box-shadow: border-box;
}
.table-name-span{
	display: block;
	font-size: 1rem;
}

.table-name-bottom{

	margin: .8rem 0 .5rem 0;
}
.table-name-bottom span{
	color: rgb(157,168,161);
	font-size: .8rem;
}
.li-table-td{
	box-sizing: border-box;
	padding: 0 1rem;
	border-bottom: 1px solid rgba(50,182,122,.3);
}

.shadow{
	box-shadow: inset 0 0 20px  #595959;
}
.blue{
	background: #0bbcd6;
}
.blue:hover{

}

.error{
	color: #595959;
	background:#ffef40;
}
.praimery{
	border: none;
	background: rgb(44,158,106);
}
.button,.praimery{
	display: inline-block;
	padding: .3rem 0;
	color: #fff;
}
.button:hover,.praimery:hover{
	background: rgba(44,158,106,.8);
}
.button:active,.praimery:active{
	background: rgba(50,182,122,.3);
}



.dropdown-div{
	
	-webkit-transition:  .25s all ;
}
ul.dropdown-menu{
	box-sizing: border-box;
	position: absolute;
	margin: .5rem -10rem;
	padding: 1rem 3rem;
	width: 70rem;
	background-color: rgba(50,182,122,.8);
	display: none;
}
ul.dropdown-menu li{
	display: inline-block;
	width: 10rem;
	padding: .4rem 0;
	text-align: left;

}
ul.dropdown-menu li .dropdown-menu-a{
	font-size: .9rem;
	color: #fff;
}


.dropdown-div:hover ul.dropdown-menu{
	transition: .25s all;
	-o-transition: .25s all;
	-ms-transition: .25s all;
	-moz-transition: .25s all;
	-webkit-transition: .25s all;
	display: block;
}
.dropdown-menu-a{
	border:1px solid rgba(50,182,122,.8);
	display: inline-block;
	padding: .5rem 1rem;
}
.dropdown-menu-a:hover{
	border:1px solid #fff;
	border-radius: .5rem;
}

.search-div-40rem{
	width: 40rem;
	margin: 2rem auto;
	vertical-align: middle;
}
.search-input{
	width: 25rem;
}
.search-button{
	border: none;
	color: #fff;

}

.li-table-td:hover{
	background: rgba(50,182,122,.3);
}

.hover-clean:hover{
	/*需放在最后面*/
	background:#f7f7f7;
	color: #595959;
}

.margin-top{
	margin-top: 1rem;
}
.margin-top-5rem{
	margin-top: 5rem;
}
.margin-bottom{
	margin: 1rem 1rem 3rem 1rem;
}

.margin-1rem{
	margin: 1rem 0;
}

.clean-Container-R{
	padding-right: 2rem;

}

.verTop{
	vertical-align: top;
}


.ib{
	display: inline-block;
}


/*left.ascx*/




.margin-bottom-05rem{
	display: inline-block;
	margin-bottom: .5rem;
	font-size: .9rem;
}




/*product*/

.product{
	display: inline-block;
	width: 55rem;
}


/*foot*/

.foot{
	background:rgba(50,182,122,1);
	height:20rem;
	text-align: center;
	margin-top: 10rem;
}

.div-img{
	height: 5rem;
	vertical-align: middle;
	padding-top: 5rem;
}

.foot-bottom-span{
	color: #fff;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.div-img>a img{
	width: 12rem;
	height: 3rem;
}

.foot-bottom{
	color: #fff;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.input-div{
	height: 1.5rem;
	margin: auto;
	margin-bottom: 2.5rem;
}

.input-div span , .form-control{
	display: inline-block;

}
.red{
	color: red;
}

.input-div span{
	width: 1rem;
	height: 1rem;
	color: red;
	font-size: 1.2rem;
	text-align: right;
}
.form-control{
	width: 25rem;
	padding: .5rem 1rem;
	font-size: .8rem;
	border: 1px solid rgba(50,182,122,.8);
	border-radius: .5rem;
}
.form-contro2{
	width: 15rem;
	padding: .8rem 1rem;
	font-size: 1rem;
	border: 1px solid rgba(50,182,122,.8);
	border-radius: .5rem;
	margin-right: .4rem;
}
.login_right{
	width: 25rem;
	display: flex;
	align-items: center;
	margin-top: 1rem;
}
.checkImg{
	width: 8rem;
	height: 2.5rem;
	border-radius: .5rem;
}
.input-group{
	margin: 5rem auto;
}

.font-2rem{
	font-size: 1.25rem;
	color: #fff;
	
}
.font-2rem1{
	font-size: 1.25rem;
	color: #595959;
}
.notice-head-long{
	
	width: 100%;
	padding: .8rem 1rem;
	background: rgba(50,182,122,1);
}
.bgwrite{
	background: #fff;
}
.write{
	color: #fff;
}


.user-div{
	padding: 3rem 0;
}

.submit,.result{
	width: 11rem;
	padding: .5rem 1rem;
}
.result:hover{
	background: rgb(299,75,75);
}

.input-div-button{
	margin-top: 5rem;
	margin-bottom: 10rem;
}


/*pick boostrap*/

.pull-right {
    float: right!important;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page_bg{
	margin-top: 10rem;
}
.pull-right{

	height: 3rem;
	vertical-align: baseline;
}

.template{
	margin-bottom: 5rem;
}

.login_body{
	width: 20rem;
	margin: 5rem 30%;
}

.check-items{
	display: inline-block;
	padding: .5rem 1rem;
}

.main_left{
	width: 15rem;
	box-sizing: border-box;
	display: inline-block;
}

.main_right{
	display: inline-block;
	width: 100rem;
	background: #fff;
	border-radius: .5rem;
}
.main_right_frame{
	width: 100%;
	height: 70rem;
	border-radius: .5rem;
}
.bold{
	font-weight: lighter;
}
[class*="button"],[class*="submit"],[class*="result"],[class*="form"]{
	border-radius: .5rem
}
[class*="button"]:hover,[class*="submit"]:hover,[class*="result"]:hover,[class*="form"]:hover{
	border-radius: 2rem;
}

.getBakDb-a>a font{
	display: inline-block;
	
	padding: .3rem 1.2rem;
	border-radius: .5rem;
	margin: .25rem 1rem;

}
.getBakDb-a>a font:hover{
	color: #fff;

	background: rgb(299,75,75);
	border-radius: 1rem;
}
.getBakDb-a>a font:active{
	background: rgba(50,182,122,.3);
}

.block{
	display: block;
}

.padding{
	padding:1.5rem 10rem;
}

.col-sm-2{
	display: inline-block;
	margin: 1rem 0 .3rem .5rem;
	color: #888;
	font-size: .8rem;

}
.control-label1{
	margin: 0 0 .5rem .5rem;
}
.padding_lr_0{
	display: inline-block;
	width: 5rem;
}

.main_nav{
	padding: 0 2rem;
	margin-top: 1rem;
}

.child_nav{
	padding: .5rem 2.5rem;
	margin-bottom: .5rem;
}

.child_nav ul li a{ 
	display: block;
	text-align: left;
	width: 100%;
	font-size: .8rem;
	padding: .25rem 2rem;
}
.child_nav ul li a:hover{
	background: rgba(0,0,0,.1);
}

.border-none{
	border: none;
}